h1,h2,h3,h4,h5,h6
    font-family: "Lato", sans-serif
.w3-bar,h1,button
    font-family: "Montserrat", sans-serif
.fa-anchor,.fa-coffee
    font-size: 200px
.header-todo
    padding: 128px 16px
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/wall.jpg') no-repeat 50% 50%
    background-size: cover
.bg-dracula
    background-color: #2d3436
.bg-white
    background-color: #fff
.bg-light-pink
    background-color: #f8e4f5
.todo-menu a
    text-transform: uppercase
    text-decoration: none
    transition: 0.4s
.todo-logo-pink
    color: #f368e0
    text-decoration: none
    transition: 0.4s
    font-size: 1.2em
.todo-hover-pink
    color: #000
    text-decoration: none
.todo-hover-pink:hover
    color: #f368e0
    border-bottom: 5px solid #f368e0
.todo-sign-in
    color: #54a0ff
    border-bottom: 5px solid #54a0ff
.todo-wall-header
    color: #fff
    text-shadow: 2px 2px 0 #000
.todo-home-img img
    padding: 30px
    width: 100%
    height: 350px
.service-icon a
    margin: 10px
    color: #f9f3f4
.todo-contacts
    background: #161f29
.todo-phone-size
    display: none
.section-title
    color: #fff
    text-transform: uppercase
    text-align: center
    font-size: 20px
.border
    background: #fff
    width: 160px
    height: 2px
    margin: 20px auto

.gallerys
  padding: 10px
  overflow: hidden
  text-align: center

.img
    display: inline-block
    width: 100%
    max-width: 340px
    height: 220px
    overflow: hidden
    margin: 10px
    cursor: pointer

.img img
    width: 100%
    height: 220px
    transition: 0.4s

.img img:hover
    transform: scale(1.2)

@media screen and (max-width: 480px)
    .todo-screen-size
        display: none
    .todo-phone-size
        display: block
    .image
        margin: 10px 0


.image
    display: inline-block
    width: 100%
    max-width: 340px
    height: 220px
    overflow: hidden
    margin: 10px
    cursor: pointer

.image img
    width: 100%
    height: 220px
    transition: 0.4s

.image img:hover
    transform: scale(1.2)

/* about section */
.header-todo .todo-btn-start-pink
    color: #f9f3f4
    text-decoration: none
    font-family: sans-serif
    border: 1px solid
    padding: 7px 13px
    margin: 20px
    font-weight: bold
    transition: 0.4s

.header-todo .todo-btn-start-pink:hover
    color: #f8e4f5
    border-color: #f368e0
    background-color: #f368e0
    

.header-todo .todo-btn-start-yellow
    color: #f9f3f4
    text-decoration: none
    font-family: sans-serif
    border: 1px solid
    padding: 7px 13px
    margin: 20px
    font-weight: bold
    transition: 0.4s

.header-todo .todo-btn-start-yellow:hover
    color: #f8e4f5
    border-color: #ff9f43
    background-color: #ff9f43

.todo-header-button 
    display: inline-table
    max-width: 340px
    margin: 10px
    cursor: pointer

@media (max-width: 400px)
    .todo-header-button
        margin: 10px 0

.team-section
    background: #fff
    text-align: center

.inner-width
    max-width: 1200px
    margin: auto
    padding: 40px
    color: #333
    overflow: hidden

.team-section h1
    font-size: 20px
    text-transform: uppercase
    display: inline-block
    border-bottom: 4px solid
    padding-bottom: 10px
    color: #f368e0

.pe
    float: left
    width: calc(100% / 3)
    overflow: hidden
    padding: 40px 0

.pe img
    width: 120px
    height: 120px

.p-name
    text-transform: uppercase
    margin-top: 16px

.p-des
    font-style: italic
    color: #f368e0

.p-short
    color: #8395a7

@media screen and (max-width: 600px)
    .pe
        width: 100%

.todo-footer
    background: #1c2835

.todo-footer p
    color: #fff