@import ../../sass/todo-theme
.space-view 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow-y: auto
    .card
        background-color: #fff
        box-shadow: 0 1px 2px #b8b8b8
        width: 90%
        padding: 10px
        min-height: 65vh
        margin: 20px auto
        border: 1px solid #d8d8d8
        border-radius: 2px
        display: flex
        flex-direction: column        
        // position: relative
        form
            display: flex
            flex-direction: column
            width: 70%
            margin: 20px auto
            h4
                margin: 0
            .datetime-input
                width: 200px
            input, textarea
                text-indent: 5px
                margin-bottom: 20px
        .new-todo-action
            display: flex
            padding-top: 20px
            margin: 10px 10px 10px 0
            justify-content: flex-start
            flex-wrap: wrap
            border-top: 1px solid #d8d8d8
            button
                +generic-button
                margin-left: 10px
            +action-button(".submit-action", $blue)
            +action-button(".update-action", $green)
            +action-button(".cancel-action", $red)