$break-small: 520px
$break-medium: 768px
$break-large: 1200px

$blue: #0984e3
$orange: #f39c12
$red: #e74c3c
$green: #00b894
$pink: #e84393
$black: #2d3436
$gray: #a8a8a8
$purple: #833471

$bg-white: #f5f6fa
$cloud: #ecf0f1
$lemon: #ffeaa7
$dragon: #ff9f43
$concrete: #95a5a6
$wintergreen: #32ff7e

@mixin action-button($btn, $btcolor)
    #{$btn}
        border: 1px solid $btcolor
        color: $btcolor
        text-decoration: none
    #{$btn}:hover
        background-color: $btcolor
        color: #fff

@mixin main-action-btn($btn, $btcolor)
    #{$btn}
        cursor: pointer
        background-color: #fff                
        border: 1px solid $btcolor
        color: $btcolor
        border-radius: 4px
        margin-left: 10px
        transition: 0.3s
    #{$btn}:hover
        color: #fff
        background-color: $btcolor

=generic-button
    border-radius: 2px
    margin-left: 4px
    cursor: pointer
    background-color: #fff
    transition: 0.3s

=flex-column
    overflow: hidden
    display: flex
    flex-direction: column

=flex-row
    overflow: hidden
    display: flex
    flex-direction: row

*
    font-family: 'Prompt', sans-serif

h1, h2, h3, h4
    margin: 0
nav
    +flex-row
    position: fixed
    align-items: center
    height: 40px
    width: 100%
    border-bottom: 1px solid #d8d8d8
    box-shadow: 0 1px 3px #b8b8b8
    background-color: #fff
    h3
        color: $black
        flex-basis: 10%
        margin: 0 10px
    .hamburger
        flex-basis: 60%
        i
            border: 1px solid #8d8d8d
            border-radius: 3px
            padding: 5px
    .search-bar
        display: flex
        justify-content: flex-end
        padding: 0 10px
        flex-basis: 30%
        input
            border: 1px solid #d8d8d8
            text-indent: 5px
            color: $black
            border-top-left-radius: 4px
            border-bottom-left-radius: 4px
        button
            cursor: pointer
            border: none
            border-right: 1px solid #d8d8d8
            border-top: 1px solid #d8d8d8
            border-bottom: 1px solid #d8d8d8
            border-top-right-radius: 4px
            border-bottom-right-radius: 4px 
            background-color: $orange
            color: #fff
    @media screen and (max-width: $break-small) 
        display: block
        height: 80px
        h3
            border-bottom: 1px solid #d8d8d8
        .hamburger
            position: absolute
            top: 5px
            right: 5px
        .search-bar
            justify-content: center
            padding-top: 10px
            text-align: center
    @media screen and (min-width: $break-small)
        .hamburger
            visibility: hidden
            flex-basis: 40%
        .search-bar
            flex-basis: 50%
    @media screen and (min-width: $break-medium)
        .hamburger
            flex-basis: 50%
        .search-bar
            flex-basis: 40%
    @media screen and (min-width: $break-large)
        .hamburger
            flex-basis: 60%
        .search-bar
            flex-basis: 30%

.main-space
    position: relative
    top: 80px
    width: 100%
    height: 100%
    +flex-column
    // z-index: -1
    @media screen and (min-width: $break-small) 
        flex-direction: row
        position: fixed
        top: 40px
    .main-menu
        +flex-column
        border: 1px solid #d8d8d8
        flex-basis: 20%
        @media screen and (max-width: $break-small) 
            display: none
        .username
            font-size: 18px
            text-align: center
            padding: 20px 0
            margin: 10px auto
            width: 70%
            color: $pink
            border-bottom: 4px solid $pink
        a
            text-align: center
            transition: 0.3s
            cursor: pointer
            text-decoration: none
        button
            border: none
            font-size: 16px
            text-align: center
            background-color: #fff
            color: $black
            height: 40px
            outline: none
        .logout-btn
            text-align: center
            padding: 0
            border-radius: 4px
            width: 80%
            border: 1px solid $pink
            justify-content: center
            color: $pink
            transition: 0.3s
            margin: 40px auto
        a:hover, .logout-btn:hover
            color: $pink
            border-left: 5px solid $pink
            border-right: 5px solid $pink
    .toggle-menu
        overflow: hidden
        display: flex
        flex-direction: column
        height: 0
        background-color: $cloud
        transition: height 0.3s ease
        @media screen and (min-width: $break-small) 
            display: none
        .username
            text-align: center
            margin: 0 auto
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
            width: 70%
            color: $pink
        a
            text-align: center
            text-decoration: none
            margin: 1px 0
            background: $blue
        button
            border: none
            color: #fff
            background: $blue

.float-btn
    position: fixed
    width: 60px
    height: 60px
    bottom: 40px
    right: 40px
    background-color: #0C9
    color: #FFF
    border-radius: 50px
    text-align: center
    box-shadow: 2px 2px 3px #999
    z-index: 1
    cursor: pointer
    @media screen and (min-width: $break-small) 
        display: none
    .new-float-btn
        margin-top: 22px

//* The Modal (background) */
.modal
    display: none //* Hidden by default */
    position: fixed //* Stay in place */
    z-index: 1 //* Sit on top */
    padding-top: 100px //* Location of the box */
    left: 0
    top: 0
    width: 100% //* Full width */
    height: 100% //* Full height */
    overflow: auto //* Enable scroll if needed */
    background-color: rgb(0,0,0) //* Fallback color */
    background-color: rgba(0,0,0,0.4) // Black w/ opacity
//* The Close Button */
.close
    color: #aaaaaa
    position: absolute
    right: 10px
    top: 0
    font-size: 28px
    font-weight: bold
.close:hover, .close:focus
    color: #000
    text-decoration: none
    cursor: pointer