@import ../../sass/todo-theme
.space-card 
    display: flex
    flex-direction: column
    align-items: center
    overflow-y: auto
    max-height: 85vh
    .card
        background-color: #fff
        box-shadow: 0 1px 2px #b8b8b8
        width: 80%
        margin-top: 5px
        border: 1px solid #d8d8d8
        border-radius: 2px
        padding-left: 5px
        display: flex
        flex-direction: column
        p
            color: $black
            overflow: hidden
            margin: 0
            text-indent: 10px
            text-overflow: ellipsis
            white-space: nowrap
        .card-action
            display: flex
            margin: 10px 10px 10px 0
            justify-content: flex-end
            button
                +generic-button
            +action-button(".complete-action", $blue)
            +action-button(".active-action", $purple)
            +action-button(".view-action", $green)
            +action-button(".edit-action", $orange)
            +action-button(".del-action", $red)
    .card-active
        border-top: 4px solid $dragon
    .card-complete
        border-top: 4px solid $concrete