@import ../../sass/todo-theme    
.space-card-rect
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow-y: auto
    max-height: 85vh
    .card-rect
        background-color: #fff
        box-shadow: 0 1px 2px #b8b8b8
        width: 32%
        height: 200px
        margin: 5px auto
        border: 1px solid #d8d8d8
        border-radius: 2px
        display: flex
        flex-direction: column
        position: relative
        p
            color: $black
            overflow: hidden
            margin: 0
            text-indent: 20px
            font-weight: bold
            text-overflow: ellipsis
            flex-shrink: 0
            white-space: nowrap
        span
            overflow: hidden
            color: $gray
            padding: 20px
            flex-basis: 70%
            text-overflow: ellipsis
            border-bottom: 1px solid #d8d8d8
        .card-action
            display: flex
            margin: 10px 10px 10px 0
            justify-content: flex-end
            flex-wrap: wrap
            button
                +generic-button
            +action-button(".complete-action", $blue)
            +action-button(".active-action", $purple)
            +action-button(".view-action", $green)
            +action-button(".edit-action", $orange)
            +action-button(".del-action", $red)
    .card-active
        border-top: 4px solid $dragon
    .card-complete
        border-top: 4px solid $concrete