@import ../../sass/todo-theme
.space
    flex-basis: 80%
    min-height: 100vh
    +flex-column
    background-color: $bg-white
    .space-menu
        background-color: #fff
        flex-basis: 6%
        border-bottom: 1px solid #d8d8d8
        display: none
        align-items: center
        @media screen and (min-width: $break-small) 
            display: flex
        .action-btn
            flex-basis: 80%
            +main-action-btn(".new-action", $green)
        .view-icon
            padding-right: 10px
            flex-basis: 20%
            display: flex
            justify-content: flex-end
            i
                cursor: pointer
                margin-left: 5px
                padding: 5px
                border: 1px solid #d8d8d8
                border-radius: 2px
                color: $black
                transition: 0.3s
            i:hover
                background-color: $black
                color: #fff
