@import ../../sass/todo-theme
.delete-todo-modal
    display: block
    .modal-content
        background-color: #fefefe
        margin: auto
        border: 1px solid #888
        width: 30%
        display: flex
        flex-direction: column
        position: relative
        @media screen and (max-width: $break-small) 
            width: 80%
        h4
            text-align: center
            margin: 20px 30px
        .delete-action-btn
            padding: 10px 0
            border-top: 1px solid #d8d8d8
            display: flex
            flex-direction: row-reverse
            button
                +generic-button
                margin-left: 10px
                margin-right: 20px
            +action-button(".delete-action", $red)
            +action-button(".cancel-action", $black)