@import ../../sass/todo-theme
.export-todo-modal
    display: block
    .modal-content
        background-color: #fefefe
        margin: auto
        border: 1px solid #888
        width: 30%
        display: flex
        flex-direction: column
        position: relative
        @media screen and (max-width: $break-small) 
            width: 80%
        h4
            text-align: center
            margin: 10px 0
        p
            margin: 0
            padding: 0 20px
        form
            display: flex
            flex-direction: column
            input
                margin: 0 20px 20px 20px
            .help-block
                font-size: 14px
                color: #d63031
                margin-left: 15px
            .download-action-btn
                padding: 10px 0
                border-top: 1px solid #d8d8d8
                button
                    +generic-button
                    margin-left: 10px
                +action-button(".download-action", $purple)
                +action-button(".cancel-action", $red)