@import ../../sass/todo-theme
.import-todo-modal
    display: block
    .modal-content
        background-color: #fefefe
        margin: auto
        border: 1px solid #888
        width: 30%
        display: flex
        flex-direction: column
        position: relative
        @media screen and (max-width: $break-small) 
            width: 80%
        h4
            text-align: center
            margin: 10px 0
        form, .upload-file-form
            display: flex
            flex-direction: column
            .help-block
                padding-left: 10px
            input[type="file"]
                padding: 10px
            .upload-file
                padding: 0 10px
            // .upload-file::-webkit-file-upload-button
            //     visibility: hidden
            // .upload-file:before
            //     content: 'Browse'
            //     border: 1px solid #000
            //     border-radius: 2px
            //     padding: 5px 8px
            //     outline: none
            //     white-space: nowrap
            //     cursor: pointer
            .upload-action-btn
                padding: 10px 0
                border-top: 1px solid #d8d8d8
                button
                    +generic-button
                    margin-left: 10px
                +action-button(".upload-action", $blue)
                +action-button(".cancel-action", $red)