.login-box
    width: 360px
    position: absolute
    top: 50%
    left: 50%
    padding: 0 50px 50px 50px
    transform: translate(-50%, -50%)
    color: #000000

    h1
        float: left
        font-size: 40px
        border-bottom: 6px solid #e84393
        margin-bottom: 50px
        padding: 13px 0

    h2
        float: left
        text-align: center
        font-size: 30px
        border-bottom: 6px solid #e84393
        margin-bottom: 50px
        padding: 13px 0

.textbox
    width: 100%
    overflow: hidden
    font-size: 20px
    padding: 8px 0
    margin: 8px 0
    border-bottom: 1px solid #e84393
    i
        width: 26px
        float: left
        text-align: center
    input
        border: none
        outline: none
        background: none
        font-size: 18px
        width: 210px
        float: left
        margin: 0 10px

.btn-login
    width: 100%
    background: #0984e3
    color: #ffffff
    padding: 5px
    font-size: 18px
    border: none
    cursor: pointer
    margin: 12px 0

.btn-signup
    width: 100%
    background: #00b894
    color: #ffffff
    padding: 5px
    border: none
    font-size: 18px
    cursor: pointer
    margin: 12px 0

.forgot-link
    text-decoration: none
    color: #0984e3

.signup-link
    color: #e67e22

.help-block
    font-size: 14px
    color: #d63031