@import ../../sass/todo-theme
.space-view 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow-y: auto
    .card
        background-color: #fff
        box-shadow: 0 1px 2px #b8b8b8
        width: 90%
        padding: 10px
        min-height: 65vh
        margin: 20px auto
        border: 1px solid #d8d8d8
        border-radius: 2px
        display: flex
        flex-direction: column
        position: relative
        @media screen and (max-width: $break-small)
            height: auto
        h3
            text-align: center
            text-overflow: ellipsis
            flex-shrink: 0
            margin: 20px 0
            overflow: hidden
        p
            color: $black
            overflow: hidden
            margin: 20px auto
            width: 70%
            text-indent: 10px
            text-overflow: ellipsis
            flex-shrink: 0
            white-space: nowrap
        span
            overflow: hidden
            color: $gray
            padding: 5px
            margin: 0 auto
            padding-bottom: 20px
            width: 70%
            flex-basis: 70%
            text-overflow: ellipsis
        .card-action
            display: flex
            padding-bottom: 20px
            margin: 10px 10px 10px 0
            justify-content: flex-start
            flex-wrap: wrap
            border-bottom: 1px solid #d8d8d8
            button
                +generic-button
            +action-button(".complete-action", $blue)
            +action-button(".active-action", $purple)
            +action-button(".view-action", $green)
            +action-button(".edit-action", $orange)
            +action-button(".del-action", $red)
    .card-active
        border-top: 4px solid $dragon
    .card-complete
        border-top: 4px solid $concrete

//* Modal Content */
.modal-content
    background-color: #fefefe
    margin: auto
    border: 1px solid #888
    width: 30%
    display: flex
    flex-direction: column
    position: relative
    @media screen and (max-width: $break-small) 
        width: 80%
    h4
        text-align: center
        margin: 10px 0
    p
        padding: 0 20px
    form
        display: flex
        flex-direction: column
        .delete-action-btn
            padding: 10px 0
            border-top: 1px solid #d8d8d8
            button
                +generic-button
                margin-left: 10px
            +action-button(".delete-action", $red)
            +action-button(".cancel-action", $concrete)
